
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #d74a9e, #871ebc);
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.box {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 380px;
}

.card h2 {
  margin-bottom: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background: #3b37b1;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #5b21b6;
}

.event-card {
  background: #eef2ff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  font-size: 12px;
  padding: 3px 6px;
}

.empty-text {
  color: gray;
  font-style: italic;
}

